$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    color: white; 
    // background-image: url('file:///Users/tylerphillips/Desktop/Screen%20Shot%202013-08-21%20at%201.43.12%20AM.png');
    background-image: url('http://3.bp.blogspot.com/-E2C1BmKdEaE/UhyLkIQ3oMI/AAAAAAABPjc/ne7Ybmc_CKk/s1600/Chief-Leatherlips-Monument-007.jpg');
    // background-image: url('http://paradisofestival.com/splash-files/gallery/4.jpg');
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

// #grid-template {
//     display: inline-block;
// }

.student-grid-unit {
    position: relative;
    color: black;
    background: white;
    height: 130px;
    width: 340px;
    border-radius: 4px;
    border: 5px solid #517051;;
    // border: 5px solid #5cb85c;;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    display: inline-block;
    // margin: 10px;
    line-height: 20px;
    left:3px;
    margin-right: 10px;
    margin-top: 5px;
    box-shadow: 1px 1px #6F7375;
}

.student-grid-unit:hover {
    position: relative;
    color: black;
    background: white;
    height: 130px;
    width: 340px;
    border-radius: 4px;
    border: 5px solid #517051;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    display: inline-block;
    // margin: 10px;
    line-height: 20px;
    left:0px;
    margin-right: 10px;
    margin-top: 5px;
    box-shadow: 1px 1px #6F7375;
}

.student-full {
    text-align: center;
    width: 600px;
    min-height: 300px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 15px;
}

// .student-full h1 {
//     font-size: 50px;

// }
.firstname-full {
    font-family:'Days One', sans-serif;
    font-size: 90px;
    line-height: 65px;
}
.grav-image-full {

}


// Grid View
.firstname-grid {
    font-family: 'Days One', sans-serif;
    font-size: 40px;
    line-height: 65px;
    margin-top: 5px;
    position: absolute;
    margin-left: 130px;
    color: rgb(243, 146, 0);
}
.lastname-grid {
    font-family: 'Days One', sans-serif;
    font-size: 30px;
    position: absolute;
    margin-left: 130px;
    margin-top: 63px;
    color: #517051;
    // color: #5cb85c;
}
.email-grid {
    font-size: 30px;
    display: inline-block;
    position: relative;
}
.github-grid {
    font-size: 30px;
    // display: inline-block;
    position: relative;
}
.grav-image-grid {
    // display: inline-block;
    width: 100px;
    float: left;
    margin-left: 15px;
    border: solid #f39200;
}

.lead{
    top: -120px;
    position: relative;
}

h1 {
    font-family: 'Days One', sans-serif;
}

h2 {
    font-family: 'Days One', sans-serif;
}

.header h3 {
    display: inline-block;
}

.directory {
    display: inline-block;
}

.ironyardlogo {
    display: inline-block;
    width: 100px;
}

.student-full {
    background-color: #517051;
    border: solid 3px rgb(243, 146, 0);
}
.full-header {
    font-family: 'Days One', sans-serif;
    background-color: rgb(243, 146, 0);
    color: #517051;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    box-shadow: inset 4px 4px white, inset -4px -4px white, inset 4px -4px white, 0px 0px white;
    border: solid;
}
.firstname-full {
    font-family: 'Days One', sans-serif;
    font-size: 55px;
    letter-spacing: 3px;
    // background-color: #517051;
}
.lastname-full {
    margin-top: -15px;
    font-family: 'Days One', sans-serif;
    font-size: 30px;
    padding-bottom: 5px;
    // background-color: #517051;
}
.grav-image-full {
    background-color: rgb(243, 146, 0);
    padding: 10px;
    border: solid 4px white;
}
.grav-image-full-out {
    padding: 10px;
}
.github-full {
    color: white;
}
.git-label {
    margin-top: 15px;
}
.email-label {
    margin-top: 15px;
}




