$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    color: white; 
    background-image: url('http://3.bp.blogspot.com/-E2C1BmKdEaE/UhyLkIQ3oMI/AAAAAAABPjc/ne7Ybmc_CKk/s1600/Chief-Leatherlips-Monument-007.jpg');
    // background-image: url('http://paradisofestival.com/splash-files/gallery/4.jpg');
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.student-grid-unit {
    position: relative;
    color: black;
    background: white;
    height: 290px;
    width: 680px;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 40px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    line-height: 5px;
}

.student-grid-unit:hover {
    position: relative;
    color: black;
    background: white;
    height: 290px;
    width: 680px;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 40px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    line-height: 5px;
}

.student-full {
    text-align: center;
    width: 600px;
    min-height: 300px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 15px;
}

.student-full h1 {
    font-size: 50px;

}

.firstname {
    font-family:'Days One', sans-serif;
    font-size: 90px;
    line-height: 65px;

}

.lead{
    top: -120px;
    position: relative;
}

h1 {
    font-family: 'Days One', sans-serif;
}

h2 {
    font-family: 'Days One', sans-serif;
}

